@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.etch-container {
  padding: 30px;
  background-color: #fb222a;
  box-shadow: 0 0 5px 1px #df242a;
  border-radius: 10px;
  position: relative;
}

.inner-etch-container {
  padding: 100px;
  background-color: #ee0e0e;
  box-shadow: 0 0 3px 4px #f01f24;
  border-radius: 5px;
}

.knob {
    width: 100px;
    height: 100px;
    position: absolute;
    background: #f9f8fd;
    border-radius: 50%;
}

.left-knob {
    box-shadow: 1px -2px 2px 3px #d7c8cf;
    bottom: 14px;
    left: 20px;
}

.right-knob {
    box-shadow: -1px -2px 2px 3px #d7c8cf;
    bottom: 14px;
    right: 20px;
}
.squares-container {
  width: 560px;
  height: 560px;
  border: 2px solid #000;
  border-radius: 5px;
  box-sizing: content-box;
  display: grid;
  box-shadow: 0 0 3px 16px #e95757;
}

.square {
  border: 1px solid rgb(4, 0, 255);
  background-color: aqua;
  box-sizing: border-box;
}

.squares-container div {
  transition: background-color linear;
}

button {
  padding: 5px 10px;
  background-color: #ffffff00;
  border: 2px solid #000;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
}

button:hover {
  background-color: #c0c0c0;
  color: #fff;
}

.btn-pushed:hover {
  background-color: #505050;
  color: #fff;
}

.btn-pushed {
  background-color: #242424;
  color: #fff;
}
